{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
<div class="flex justify-center items-center">
    <div class="max-w-3xl">
        <h1 class="text-2xl font-bold sm:text-3xl">{{ title }}</h1>
        <img src="{{ thumbnail }}" alt="">
    </div>
</div>


<div class="flex justify-center">
    <ul class="mt-3 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
        <li>
            {% for stream in yt_streams %}
            <a href="{% url 'download_stream' stream.itag %}" class="block rounded border border-indigo-600 px-8 py-3 text-sm font-medium text-indigo-600 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500">
                {{ stream.resolution }} {{ stream.filesize }} MB <i class="fa-solid fa-volume-high"></i>
            </a>
            {% endfor %}
        </li>
        <li>
            {% for stream_1080p in stream_1080 %}
            <a href="{% url 'download_stream' stream_1080p.itag %}" class="block rounded border border-indigo-600 px-8 py-3 text-sm font-medium text-indigo-600 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500">
                {{ stream_1080p.resolution }} <i class="fa-solid fa-volume-xmark"></i>
            </a>
            {% endfor %}
        </li>
        <li>
            {% for audio in stream_audio %}
            <a href="{% url 'download_stream' audio.itag %}" class="block rounded border border-indigo-600 px-8 py-3 text-sm font-medium text-indigo-600 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500">
                Audio - {{ audio.abr }}
            </a>
            {% endfor %}
        </li>
    </ul>
</div>

{% endblock %}
